.head-img {
  width: 90%;
  min-width: 150px;
  max-width: 1200px;
}

.font-family-com {
  font-family: Poppins;
  font-size: 2.25rem;
}

.ghost-img {
  width: 80%;
}

.hands-img {
  width: 80%;
  min-width: 150px;
  max-width: 1200px;
  background: linear-gradient(180deg, #f4e3b8 0%, #bfeee8 100%);
  border-radius: 24px;
}

.head-text {
  font-family: DM Sans;
  color: #c4eedd;
}

.hands-text {
  width: 90%;
  padding: 4rem 2rem 4rem 2rem;
  background: #154c1e;
  border-radius: 24px;
}

.hands-text-style {
  width: 100%;
}

.hands-text-box {
  font-family: DM Sans;
  width: 45rem;
}

.hands-text-p {
  font-family: DM Sans;
  font-size: 1.2rem;
  color: #777f93;
}

.hands-text-img {
  width: 90%;
  min-width: 150px;
  max-width: 1200px;
  background: linear-gradient(180deg, #f4e3b8 0%, #bfeee8 100%);
  border-radius: 24px;
}

.hands-folder {
  width: 80%;
  min-width: 150px;
  max-width: 1200px;
}

.font-home {
  font-family: DM Sans;
}

.font-home-size {
  font-size: 3.5rem;
}

.home-grp-img {
  background-image: url("./Grp.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.p-text {
  /* text-decoration: underline #8cd469;
  box-shadow: 0px -10px; */
  box-shadow: inset 0 -12px #8cd469;
}
